<form (ngSubmit)="addTask()" class="add-task-form">
  <label for="title">Título:</label>
  <input type="text" id="title" [(ngModel)]="title" name="title" required>

  <label for="description">Descripción:</label>
  <textarea id="description" [(ngModel)]="description" name="description" required></textarea>

  <label for="column">Seleccionar Columna:</label>
  <select [(ngModel)]="selectedColumnId" id="column" name="column" required>
    <option *ngFor="let column of taskService.getColumns()" [value]="column.id">{{ column.title }}</option>
  </select>

  <button type="submit">Agregar Tarea</button>
</form>
